# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


/assets/images
src/assets/images/BEBÉS/ALEJANDRI_9M-43.jpg
src/assets/images/BEBÉS/P1_FILES_EMMA_BATHMILK-5.jpg
src/assets/images/COMUNIONES/EDURNE_EXTERIORS-135 còpia.jpg
src/assets/images/COMUNIONES/EDURNE-23 copia.jpg
src/assets/images/COMUNIONES/EDURNE-74 copia.jpg
src/assets/images/COMUNIONES/FINALS_MARC_COMU-126 còpia.jpg
src/assets/images/COMUNIONES/SYRA_EXTERIORS-110.jpg
src/assets/images/COMUNIONES/SYRA_EXTERIORS-69 copia.jpg
src/assets/images/CUMPLE/ALEJANDRA copia.jpg
src/assets/images/CUMPLE/CARLOTA_2ANYS-147 còpia copia.jpg
src/assets/images/CUMPLE/EMMA 1 copia.jpg
src/assets/images/CUMPLE/SANTOS-214.jpg
src/assets/images/CUMPLE/TRIANA-196 còpia.jpg
src/assets/images/CUMPLE/TRISTAN-209.jpg
src/assets/images/EMBARAZO/auro.jpg
src/assets/images/EMBARAZO/CRIS_SANZ-16 copia.jpg
src/assets/images/EMBARAZO/ELENA_EMB-134 copia 2.jpg
src/assets/images/EMBARAZO/ELENA_EMB-247 copia 2.jpg
src/assets/images/EMBARAZO/EUGE_EMB-64.jpg
src/assets/images/EMBARAZO/EUGE_EMB-8.jpg
src/assets/images/EMBARAZO/SONIETES-5.jpg
src/assets/images/FINE ART/AURO+LAIA-26.jpg
src/assets/images/NEWBORN/EIRE-35 copia.jpg
src/assets/images/NEWBORN/SOFÍA_NB-13 copia.jpg
src/assets/images/NEWBORN/SOFÍA_NB-15 (1) copia 2.jpg
src/assets/images/LOGO_WEB.png
src/assets/images/UPHLOW.png
src/assets/images/CUMPLE/ALEJANDRO_SMASH-240.jpg
src/assets/images/CUMPLE/EMMA_2-137.jpg
src/assets/images/CUMPLE/EMMA_2-82.jpg
src/assets/images/CUMPLE/TRIANA_2AÑOS-153.jpg
src/assets/images/EMBARAZO/IMG_1477-Edit copia 2.jpg
src/assets/images/EMBARAZO/ISI-153 copia.jpg
src/assets/images/EMBARAZO/LAURA-1 copia.jpg
src/assets/images/EMBARAZO/RAQUEL_EMB_PROBA-19 copia.jpg
src/assets/images/EMBARAZO/RAQUEL_EMB_PROBA-3 copia.jpg
src/assets/images/EMBARAZO/RAQUEL_EMB_PROBA-78 copia.jpg
src/assets/images/EMBARAZO/RAQUEL_EMB-72 copia.jpg
src/assets/images/NEWBORN/DAREN_NB-21 copia.jpg
src/assets/images/NEWBORN/DAREN_NB-22 copia.jpg
src/assets/images/NEWBORN/GONZALO_NB-103 copia.jpg
src/assets/images/NEWBORN/HUGO-30 copia.jpg
src/assets/images/NEWBORN/IMG_0274 còpia.jpg
src/assets/images/NEWBORN/IMG_9549 copia.jpg
src/assets/images/NEWBORN/JOIA+VICENT-51 copia.jpg
src/assets/images/NEWBORN/LUCA-55 copia.jpg
src/assets/images/NEWBORN/LUCIA_NB-36 copia.jpg
src/assets/images/NEWBORN/MALENA-79 copia.jpg
src/assets/images/NEWBORN/MARC copia.jpg
src/assets/images/NEWBORN/MARC-1 copia.jpg
src/assets/images/NEWBORN/MARC-41 copia.jpg
src/assets/images/NEWBORN/MIA_NB-18 copia.jpg
src/assets/images/NEWBORN/MIGUEL-26 copia.jpg
src/assets/images/NEWBORN/MIGUEL-43.jpg
src/assets/images/NEWBORN/MÍKEL-55 copia.jpg
src/assets/images/NEWBORN/NEUS-20.jpg
src/assets/images/NEWBORN/NEUS-42 còpia.jpg
src/assets/images/NEWBORN/PABLO_NB-21 copia.jpg
src/assets/images/NEWBORN/RAUL_NB-44 copia.jpg
src/assets/images/NEWBORN/SOFÍA_NB-53 copia 2.jpg
rutas.rest
