<footer class="footer mt-5">

    <div class="container">
        <div class="row">

            <div class="titulo col-4 mt-4">
                <h5 class="mb-3">Mapa web</h5>
                <p [routerLink]="['/home']"> Inicio</p>
                <p [routerLink]="['/about']">Sobre mí</p>
                <p [routerLink]="['/sesiones']">Sesiones</p>
                <p [routerLink]="['/reservas']">Reservar</p>
                <!-- <p [routerLink]="['/blog']"> Blog</p> -->
                <p [routerLink]="['/contacto']"> Contacto</p>
            </div>
            <div class="contacto col-4 mt-4">
                <h5 class="mb-3">Contacto</h5>
                <p>📱 (+34) 672 62 12 91</p>
                <a href="mailto:info@fresaikiwifotografia.com">📩info@fresaikiwifotografia.com</a>
            </div>

            <div class="rrss col-4 mt-4">
                <h5 class="mb-3">Síguenos en RRSS</h5>

                <div class=" d-flex flex-wrap">

                    <a href="https://www.facebook.com/fresaikiwi.fotografia.3" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/fresaikiwi_fotografia/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <!-- <a href="https://www.twitter.com/" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a> -->
                    <!-- <a href="https://www.linkedin.com/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a> -->

                </div>
            </div>
        </div>
    </div>



</footer>
