<div class="container mt-5">
  <h3 class="text-center mb-4">Formulario de edición de usuarios</h3>

  <div class="row p-3">
    <div class="bordecito rounded text-center">
      <div class="p-3 mt-3">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" class="form-control" placeholder="Escribe tu nombre"
              formControlName="nombre">
            </div>

            @if (checkError('nombre', 'required')) {
              <p class="error">
                El nombre es obligatorio
              </p>
            }

            <div class="input-group mb-3">
              <span class="input-group-text">Teléfono</span>
              <input type="text" class="form-control" placeholder="Escribe tu numero de teléfono"
                formControlName="telefono">
              </div>

              @if (checkError('telefono', 'required')) {
                <p class="error">
                  El teléfono es obligatorio
                </p>
              }

              <div class="input-group mb-3">
                <span class="input-group-text">Dirección</span>
                <input type="text" class="form-control" placeholder="Escribe tu direccion"
                  formControlName="direccion">
                </div>

                @if (checkError('direccion', 'required')) {
                  <p class="error">
                    La dirección es obligatoria
                  </p>
                }

                <div class="input-group mb-3">
                  <span class="input-group-text">E-mail</span>
                  <input type="text" class="form-control" placeholder="Introduce un correo electrónico válido"
                    formControlName="email">
                  </div>

                  @if (checkError('email', 'required')) {
                    <p class="error">
                      La dirección e-mail es obligatoria
                    </p>
                  }

                  @if (checkError('email', 'pattern')) {
                    <p class="error">
                      La dirección de e-mail no tiene un formato válido
                    </p>
                  }

                  <input type="submit" value="Actualizar" class="btn mb-3">
                </form>
              </div>
            </div>
          </div>
        </div>
