<div class="container mt-5">

  <h3 class="text-center mb-4">¡Inicia sesión!</h3>

  <div class="row flex-column-reverse flex-md-row">
    <div class="col-12 col-md-6 rounded text-center">
      <div class="bordecito p-4 mt-3 rounded">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <span class="input-group-text">E-mail</span>
            <input type="text" class="form-control" formControlName="email">
          </div>
          @if (checkError('email', 'required')) {
            <p class="error">
              La dirección e-mail es obligatoria
            </p>
          }

          @if (checkError('email', 'pattern')) {
            <p class="error">
              La dirección de e-mail no tiene un formato válido
            </p>
          }

          <div class="input-group mb-3">
            <span class="input-group-text">Contraseña</span>
            <input type="password" class="form-control" formControlName="password">
          </div>
          @if (checkError('password', 'required')) {
            <p class="error">
              La contraseña es obligatoria
            </p>
          }
          <input type="submit" value="Enviar" class="btn m-3" [disabled]="!formulario.valid">

          <p>
            ¿Todavía no estas registrado?
            <strong [routerLink]="['/usuarios', 'registro']">Regístrate aquí.</strong>
          </p>
        </form>
      </div>
    </div>

    <div class="texto col-12 col-md-6 p-4">
      <h5 class="mb-4"><strong>Accede a tu perfil personal</strong></h5>

      <p>Inicia sesión para poder acceder a tu perfil. Recuerda que si no estás registrado debes
        hacerlo <strong [routerLink]="['/registroStaff']">aquí.</strong>
      </p>
      <!-- TODO VALIDAR POR ADMINISTRADOR o buscar una validación por mail de confirmación? -->
      <p>Una vez registrado, cuando tu perfil sea validado, podrás iniciar sesión y ver todas nuestras sesiones y
      horas disponibles para realizar tu reserva.</p>
    </div>
  </div>
</div>
