<!-- <div class="container mt-5">
    <h3 class="text-center mb-5">Panel de Usuarios</h3>

    <div class="row"> -->
        <!-- Apartado mi perfil -->
        <!-- <div class="col-md-4 mb-3">
            <div class="card h-100 d-flex">
                <div class="card-body" *ngIf="usuario">
                    <h5 class="card-title text-center">Mi Perfil</h5>
                    <p><strong>Nombre: </strong>{{usuario.nombre}}</p>
                    <p><strong>Usuario: </strong> {{usuario.apellidos}}</p>
                    <p><strong>Email: </strong>{{usuario.email}}</p>
                    <p><strong>Rol: </strong>{{usuario.rol}}</p>
                </div>
            </div>
        </div> -->
        <!-- Apartado de botones de edición -->
        <!-- TODO REVISAR LOS ROUTERLINK -->
        <!-- <div class="col-md-4 mb-3">
            <div class="card h-100 d-flex">
                <div class="card-body text-center">
                    <h5 class="card-title">Sección de edición</h5>
                    <div class="d-grid gap-2">
                        <a [routerLink]="['/usuarios']" class="btn">Usuarios</a>
                        <a [routerLink]="['/sesiones']" class="btn">Sesiones</a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Apartado accesos directos -->
        <!-- <div class="col-md-4 mb-3">
            <div class="card h-100 d-flex">
                <div class="card-body text-center">
                    <h5 class="card-title">Accesos directos</h5>
                    <div class="d-grid gap-2">
                        <button [routerLink]="['/sesiones', 'nueva']" class="btn">Añadir nueva sesión</button>
                        <button [routerLink]="['/sesiones']" class="btn">Ver todas las sesiones</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
