.container {
    background-color: white;
    /* Añado margen pero no se aplica el background color */
    margin-bottom: 200px;

}

tbody {
    border-bottom: 1px solid lightgray;
}

.btn {
    background-color: var(--azulClaro);
    margin-right: 3px;
}

.btn:hover {
    background-color: var(--colorPrincipal);
}
