.container {
  max-width: 1500px;
}
.row {
  background-color: white;
  border: 1px solid var(--colorPrincipal);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 80vh;
  width: 100%;
}
/* TODO FALTA AJUSTAR TAMAÑO/POSICION DE IMAGEN Y TEXTO, EN RESPONSIVE OK */
.imagen {
  width: 50%;
  max-height: 50vh;
  padding: 20px;

}
.imagen img{
   width: 100%;
  height: auto;
  max-height: 55vh;
  border-radius: 20px;
}
.texto {
  margin-top: 50px;
  padding: 20px;
  width: 50%;
  max-height: 80vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.texto p {
  margin-top: 10px;
  justify-content: center;
  text-align: justify;
  align-items: center;
  height: 50vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.texto h2 {
  text-align: center;
  font-size: 70px;
  /* font-family: "Montserrat", sans-serif; */
}
@media screen and (max-width: 768px) {
  .row {
    margin: 10px 0 10px 0;
    /* padding: 5px; */
    height: auto;
    max-height: 100vh;
  }
  .imagen {
    margin-bottom: 40px;
  }
  .imagen,
  .texto {
    width: 100%;
  }
}
