<div class="container">
  <div class="row rounded">
    <!-- Imagen primero en pantallas grandes, pero después en pantallas pequeñas -->
    <div class="imagen col-lg-6 col-sm-12 order-lg-1 text-center">
      <img src="https://res.cloudinary.com/dscycaajk/image/upload/v1695591497/fresaikiwi/tgmt4xktqbjmom3lcgrd.jpg"
        alt="fresaikiwi fotografia" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
    </div>

    <!-- Texto primero en pantallas pequeñas, pero después en pantallas grandes -->
    <div class="texto col-lg-6 col-sm-12 order-lg-2 " style="line-height: 2.5rem;">
      <h2>Sobre mí</h2>
      <p>
        ¡Hola! Soy Noelia y desde siempre me ha encantado dormir a los bebés y estar
        rodeada de niños, ¡¡me entiendo muy bien con ellos!!
        <br />
        Cuando estudiaba en la universidad, pude realizar un año de Erasmus a Milano para estudiar
        diseño de moda y durante ese periodo <strong>descubrí que mi verdadera pasión sería la fotografía.</strong>
        <br />
        Así que uní las dos cosas y aquí estoy.
        <br />
        La formación es muy importante, por lo que empecé a hacer Workshops
        presenciales y diversos cursos online para poder dar el 100% de mi y poder
        especializarme en <strong>Fotografía Newborn e Infantil.</strong>
        <br />
        Soy una persona sensible y divertida, que además adora el arte e intento
        que mis fotografías lo reflejen, buscando naturalidad y un recuerdo
        atemporal y diferente.
        <br />
        <strong>Que cada sesión sea única donde disfrutéis y sean tan
          naturales como vosotros.</strong>
        <br />
        Adoro conoceros y poner también un poquito de vosotros en todas mis
        sesiones, y esa combinación nos deja unos recuerdos muy personales y
        auténticos para toda la vida, además de <strong>acompañaros en los momentos más
          felices de vuestras vidas</strong> y poder plasmarlos para siempre y para
        vosotros.
      </p>
    </div>
  </div>
</div>
