
<div class="container">

  <div class="row">
  <h3>FINE ART</h3>
  <div class="imagen1 col-md-12">
    <img src="../../../../assets/images/FINE ART/AURO+LAIA-26.jpg" alt="">
  </div>
  </div>
<!-- TODO FALTA AÑADIR TEXTOS FINE ART -->
  <div class="row">
    <div class="texto col-md-12">
  <p>
    Estas sesiones, además de todo el trabajo que tienen para nuestros peques
    que se preparan para su gran día, también son un reflejo del final de una
    etapa, de la niñez. Se captan esos momentos de inocencia, de felicidad y de
    ser como son sin importarles nada más.
  </p>
</div>
  <div class="imagen2 col-md-12">
    <img
      src="../../../../assets/images/FINE ART/AURO+LAIA-26.jpg"
      alt=""/>
  </div>
</div>
