<header>
    <app-menu></app-menu>
</header>

<main class="fondo">
    <router-outlet></router-outlet>
</main>

<!-- TODO CAMBIAR TODO EL FOOTER A LOS DATOS DE FRESAIKIWI -->

<footer class="footer mt-5">

    <div class="container">
        <div class="row">

            <div class="titulo col-4 mt-4">
                <h5 class="mb-3">Contacto</h5>
                <p>📱 (+34) 611 11 22 33</p>
                <p>📩 hola@eventia.com</p>
            </div>

            <div class="titulo col-4 mt-4 d-none d-md-block">
                <h5 class="mb-3">Mapa web</h5>
                <p [routerLink]="['/home']">> Inicio</p>
                <p [routerLink]="['/salas']">> Espacios</p>
                <p [routerLink]="['/contacto']">> Contacto</p>
                <p [routerLink]="['/loginStaff']">> Acceso Staff</p>
                <p [routerLink]="['/usuarios', 'login']">> Acceso Usuarios</p>
            </div>

            <div class="titulo col-4 mt-4">
                <h5 class="mb-3">Síguenos en RRSS</h5>

                <div class="d-flex flex-wrap">

                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>



</footer>
