<div class="container mt-5">

    <h3 class="text-center p-4">Lista de miembros del staff</h3>

    <div class="p-3 mt-3 rounded text-center">


        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Rol</th>
                    <th>Validado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.direccion}}</td>
                    <td>{{usuario.rol}}</td>
                    <td>{{usuario.validado}}</td>
                    <!-- <td>
                        <button *ngIf="usuario.aceptada == 0" class="aceptar btn"
                            (click)="aceptarUsuario(usuario)">Aceptar
                        </button>
                        <button *ngIf="usuario.aceptada == 1" class="aceptar btn">Aceptado</button>
                        <button class="btn" [routerLink]="['/usuarios', 'editar', usuario.id]">✏️</button>
                        <button class="btn" (click)="onDelete(usuario.id)">🗑️</button>
                    </td> -->


                </tr>
            </tbody>


        </table>

    </div>
</div>
