
<div class="container">


  <div class="row">
    <div class="seccionWelcome col-md-12 col-sm-12">
      <h1 class="mb-3">Fresaikiwi Fotografía</h1>
      <!-- TODO REVISAR TEXTO (hablar de estudio, exterior, detallar sesiones interior o exterior.-->

      <h6 class="mb-3">
        Bienvenidos a nuestro estudio de fotografía, capturamos los momentos más
        especiales de tu vida. Somos un equipo de fotógrafos profesionales
        apasionados por nuestro trabajo, que se esfuerzan por ofrecer a nuestros
        clientes la mejor experiencia posible.
      </h6>
      <p>
        En Fresaikiwi Fotografía ofrecemos una amplia gama de sesiones para
        satisfacer todas tus necesidades, desde fotografía para bodas, newborn,
        familiar y de retratos, hasta fotografía de eventos y productos.
        Nuestros fotógrafos están altamente capacitados y cuentan con la
        experiencia necesaria para capturar imágenes increíbles que te
        encantarán.
      </p>

      <p>
        Gracias a nuestro catálogo de sesiones disponibles, encontrarás la
        manera perfecta de inmortalizar tus momentos más importantes. Además de
        poder ver qué sesiones realizamos, con información detallada de cada
        tipo de sesión y algunas fotos para que podáis ver el resultado, podréis
        agendar la sesión que elijáis en el apartado de Reservas, de una manera
        sencilla y cómoda.
      </p>

      <p>
        Con un solo click, podrás verificar la disponibilidad, confirmar fechas
        y realizar pagos seguros. Olvídate de las preocupaciones, ¡nosotros nos
        encargamos de todo!
      </p>
    </div>

    <div class="sesiones">
      <app-sesiones2></app-sesiones2>
    </div>
  </div>





</div>
