<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <!-- <div class="carousel"> -->
      <!-- Carousel -->
      <!-- <button class="btn" (click)="startInterval()">Ver imagenes</button> -->
      <!-- <button class="btn" (click)="stopInterval()">Detener</button> -->
      <!-- <img
          class="elementToFadeInAndOut"
          [src]="images[imagenSeleccionada].url"
          [alt]=""
        /> -->
      <!-- <div class="carousel">
  <div *ngFor="let image of images" [style.backgroundImage]="'url(' + image + ')'" class="carousel-item"></div>
</div>
      </div>-->
      <app-carousel></app-carousel>
    </div>

<!-- TODO SOLUCIONAR CAROUSEL: O EL DE BOOTSTRAP O EL QUE YA HAY HECHO -->
    <!-- <div class="botones">
      <button class="btn" [routerLink]="['/sesiones']">Ver sesiones</button>
      <button class="btn" [routerLink]="['/reservas']">Reservas</button>
    </div> -->

    <!-- Titulo, texto y seccion con las sesiones -->
    <section class="Sesiones1">
      <div class="container">
        <div>
          <div>
            <div>
              <div class="circulo">
                <a [routerLink]="['/sesiones/bebes']">BEBÉS
                  <img src="../../../assets/images/BEBÉS/P1_FILES_EMMA_BATHMILK-5.jpg"
                    alt="cumpleaños"/>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div>
            <div>
              <div class="circulo">
                <a [routerLink]="['/sesiones/newborn']">NEWBORN
                  <img src="../../../assets/images/NEWBORN/SOFÍA_NB-13 copia.jpg"
                    alt="cumpleaños"/>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div>
            <div>
              <div class="circulo">
                <a [routerLink]="['/sesiones/comunion']">COMUNIÓN
                  <img src="../../../assets/images/COMUNIONES/EDURNE_EXTERIORS-135 còpia.jpg"
                    alt="cumpleaños"/>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div>
            <div class="circulo">
              <a [routerLink]="['/sesiones/cumples']">CUMPLEAÑOS
                <img src="../../../assets/images/CUMPLE/TRISTAN-209.jpg"
                  alt="cumpleaños"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="Sesiones2">
      <div class="container">

        <div>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/familia']">FAMILIA
                  <img src="../../../assets/images/FAMILIA/"
                  alt="familia"/>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/embarazo']">EMBARAZO
                  <img src="../../../assets/images/EMBARAZO/auro.jpg"
                  alt="embarazo"/>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/navidad']">NAVIDAD
                  <img src="../../../assets/images/NAVIDAD/"
                  alt="navidad"/>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/fine-art']">FINE ART
                  <img src="../../../assets/images/FINE ART/AURO+LAIA-26.jpg"
                  alt="fine-art"/>
                </a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

  </div>
</div>

<div class="col-12 col-sm">
  <h1 class="mb-3">FRESAIKIWI FOTOGRAFIA</h1>
  <!-- TODO REVISAR TEXTO (hablar de estudio, exterior, detallar sesiones interior o exterior.
         Falta decidir si reservamos aqui on uphlow)-->

  <h6 class="mb-3">
    Bienvenidos a nuestro estudio de fotografía, capturamos los momentos más
    especiales de tu vida. Somos un equipo de fotógrafos profesionales
    apasionados por nuestro trabajo, que se esfuerzan por ofrecer a nuestros
    clientes la mejor experiencia posible.
  </h6>
  <p>
    En Fresaikiwi Fotografía ofrecemos una amplia gama de sesiones para
    satisfacer todas tus necesidades, desde fotografía para bodas, newborn,
    familiar y de retratos, hasta fotografía de eventos y productos. Nuestros
    fotógrafos están altamente capacitados y cuentan con la experiencia
    necesaria para capturar imágenes increíbles que te encantarán.
  </p>

  <p>
    Gracias a nuestro catálogo de sesiones disponibles, encontrarás la manera
    perfecta de inmortalizar tus momentos más importantes.
  </p>

  <p>
    Además de poder ver qué sesiones realizamos, con información detallada de
    cada tipo de sesión y algunas fotos para que podáis ver el resultado,
    podréis agendar la sesión que elijáis en el apartado de Reservas, de una
    manera sencilla y cómoda. Con un solo clic, podrás verificar la
    disponibilidad, confirmar fechas y realizar pagos seguros. Olvídate de las
    preocupaciones, ¡nosotros nos encargamos de todo!
  </p>
</div>

<!-- </div> -->

<!-- TODO REVISAR TEXTOS -->
<div class="bordes col-md-4">
  <h5 class="text-center">¿Por qué reservar con nosotros?</h5>
  <div class="d-flex flex-column p-4">
    <div class="d-flex mb-5">
      <i class="fa-solid fa-x mr-3"></i>
      <p>Sin sorpresas en la factura. Precio cerrado.</p>
    </div>

    <div class="d-flex mb-5">
      <i class="fa-solid fa-user mr-3"></i>
      <p>Asistencia personalizada 24/7</p>
    </div>

    <div class="d-flex">
      <i class="fa-solid fa-thumbtack mr-3"></i>
      <p>Espacios situados en puntos estrategicos de la ciudad</p>
    </div>
    <p class="text-center">
      <strong [routerLink]="['/contacto']">¡Contacta ya con nosotros!</strong>
    </p>
  </div>
</div>
