/* .carousel {
    display: flex;
    overflow: hidden;
}
div.carousel img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    background-position: center;
        background-size: cover;
        transition: 1s ease-in-out;
}
/* .carousel-item {
    min-width: 100%;
    height: 500px; */

    /* background-position: center;
    background-size: cover;
    transition: 1s ease-in-out;
} */


/* .carousel-item {
    min-width: 100%;
    height: 500px;
/* Ajusta la altura del carrusel según tu preferencia */
    /* background-position: center;
    background-size: cover;
    transition: 1s ease-in-out;
}
.carousel-item:not(:first-child) {
    margin-left: -100%;
} */


/* Configura el slider para que ocupe todo el ancho y alto de la ventana */
.carousel {
    position: absolute; /* fixed o absolute ?? */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Coloca el slider detrás del contenido */
}

/* Ajusta el estilo de las slides para que se ajusten al tamaño del slider */
.carousel .img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio */
}

.elementToFadeInAndOut {
    animation: fadeInOut 5s linear forwards;
    animation-iteration-count: infinite
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

/* Asegura que el contenido se muestre por encima del slider */
/* TODO CAMBIAR .content al div que englobe contenido */
.content {
    position: relative;
    z-index: 1;
}

/* SESIONES */
.seccionSesiones1 .circulo {
    width: 20vh;
    height: 20vh;
    border-radius: 25px;
}

.Sesiones1 .circulo img{
position:contain;
display: block;
}





/* .botones {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    background-color: rgb(28, 146, 179);
    color: var(--blanco);
    width: 250px;
}

.btn:hover {
    background-color: rgb(1, 101, 129);
} */
