.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.seccionIncial{
    background-color: red;
    width: 100%;
    min-width: 400px;
    min-height: 900px;
}
/* Sección SLIDER */
.carousel {
    /* Configura el slider para que ocupe todo el ancho y alto de la ventana */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Coloca el slider detrás del contenido */
    display: flex;
}
/* Ajusta el estilo de las slides para que se ajusten al tamaño del slider */
.carousel img {
    width: 100vw;
    object-fit: cover;
    /* Ajusta la imagen para que cubra todo el espacio */
}
/*Animación fadeinOut para slider*/
.elementToFadeInAndOut {
    animation: fadeInOut 5s linear forwards;
    animation-iteration-count: infinite
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}


/* Sección Bienvenida */
/* TODO FALTA COLOCAR BAJO DEL SLIDER */
.seccionWelcome {
    position: relative;
    top: 100vh;
    z-index: 1;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Roboto Flex', sans-serif;
    margin-bottom: 30px;
}
.seccionWelcome h6 {
    font-size: 20px;
    font-weight: 500;
}
.seccionWelcome h1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}



/* Sección SESIONES */
/* TODO RECOLOCAR despues de haber aplicado los estilos en el css del componente */
h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 48px;
    position: relative;
        top: 100vh;
        margin-bottom: 20px;
}
.container{
    top: 100vh;
}
.sesiones1 article img {
    width: 300px;
    border-radius: 100px;
}
.sesiones1 {
    width: 100%;
    height: 20vh;
    border: solid 2px var(--colorPrincipal);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    position: relative;
    top: 100vh;
}
.sesiones1 article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.sesiones1 article .section-title {
    max-width: 120px;
    margin-bottom: 15px;
}
/* TODO FALTA COLOCAR BIEN LOS SPAN */
.sesiones1 article .section-title span {
    background-color: var(--colorPrincipal);
    color: white;
    padding: 10px;
    border-radius: 10px;
}


.sesiones2 article img {
    width: 300px;
    border-radius: 100px;
}
.sesiones2 {
    width: 100%;
    height: 20vh;
    border: solid 2px var(--colorPrincipal);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    border-top: none;
    position: relative;
        top: 100vh;
}
.sesiones2 article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.sesiones2 article .section-title {
    max-width: 120px;
    margin-bottom: 15px;
}
.sesiones2 article .section-title span {
    background-color: var(--colorPrincipal);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
