.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 17rem;
    /* top: 70vh; */
    @media (width <=540px) {
        margin-top: 15rem;
    }
}
/* .seccionIncial{
    width: 100%;
    min-width: 400px;
    min-height: 900px;
} */
/* Sección Bienvenida */
.seccionWelcome {
    top: 100vh;
    margin-top:29rem;
    z-index: 1;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
    margin-bottom: 40px;

/*MEDIA QUERIES */
    @media (width <=620px) {
        margin-top: -4rem;
    }

    @media (width >=600px) {
        margin-top: -2rem;
    }

    @media (width >=670px) {
        margin-top: 0rem;
    }

    @media (width >=690px) {
        margin-top: 4rem;
    }

    @media (width >=780px) {
        margin-top: 10rem;
    }

    @media (width >=980px) {
        margin-top: 12rem;
    }

    @media (width >=1002px) {
        margin-top: 3rem;
    }

    @media (width >=1035px) {
        margin-top: 14rem;
    }

    @media (width >=1066px) {
        margin-top: 16rem;
    }

    @media (width >=1115px) {
        margin-top: 18rem;
    }

    @media (width >=1165px) {
        margin-top: 18rem;
    }

    @media (width >=1190px) {
        margin-top: 22rem;
    }

    @media (width >=1260px) {
        margin-top: 24rem;
    }

    @media (width >=1310px) {
        margin-top: 26rem;
    }

    @media (width >=1360px) {
        margin-top: 29rem;
    }
}
.seccionWelcome h6 {
    font-size: 20px;
    font-weight: 500;
}
.seccionWelcome h1 {
    text-align: center;
    font-size: 80px;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 400;
}

/* Sección SESIONES */
.sesiones {
    width: 100vw;
    margin-top:10px;
}




        /* Sección SLIDER */
        /* .carousel {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            display: flex;
        }

        .carousel img {
            width: 100vw;
            object-fit: cover;
        }

        .elementToFadeInAndOut {
            animation: fadeInOut 5s linear forwards;
            animation-iteration-count: infinite;
        }

        @keyframes fadeInOut {
            0% {
                opacity: 0;
            }

            25% {
                opacity: 0.75;
            }

            50% {
                opacity: 1;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        } */
