.btn {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
}

.btn:hover {
    background-color: var(--colorPrincipal);
    border: 1px solid white;
    color: white;
}

p {
    font-size: larger;
}

.error {
    text-align: left;
    font-size: small;
    color: red;
}
.mapa{
    object-fit: cover;
}
.contacto {
    border: solid 2px var(--colorPrincipal);
        border-radius: 10px;
}
