<div class="container">
  <div class="titulos">
    <h3 class="text-center mb-2">¿Tienes alguna duda?</h3>
    <h6 class="text-center mb-3">¡Contacta con nosotros y te responderemos lo antes posible!</h6>
  </div>
  <!-- <div class="contacto">
    <div class="formulario">
      <form [formGroup]="form" class="contact" id="mi-formulario" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="custom-input">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Tu nombre" required />
          @if (form.get('name')?.invalid && form.get('name')?.touched) {
          <mat-error>Por favor, introduce tu nombre</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastname" placeholder="Tus apellidos" required />
          @if (form.get('lastname')?.invalid && form.get('lastname')?.touched) {
          <mat-error>Por favor, introduce tus apellidos</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="email@example.com" required />
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <mat-error>Por favor, introduce un e-mail válido</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mensaje</mat-label>
          <textarea matInput formControlName="message" maxlength="999" rows="10" placeholder="Estoy interesad@ en..."
            required></textarea>
          <mat-hint align="end">{{ form.get('message')?.value?.length || 0 }}/999</mat-hint>
          @if (form.get('message')?.invalid && form.get('message')?.touched) {
          <mat-error>Por favor, escribe un mensaje</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="isLoading || form.invalid" class="btn submit"
          type="submit">
          Enviar
        </button>

        <input formControlName="honeypot" class="hidden" type="text" />

        <div [@if]="submitted" class="center-text">
          <span>{{ responseMessage }}</span>
        </div>
      </form>
    </div>
  </div> -->
<div class="contacto">
  <div class="formulario">
    <form [formGroup]="form" id="mi-formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Tu nombre" />
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">
          Por favor, introduce tu nombre
        </div>
      </div>

      <div class="mb-3">
        <label for="lastname" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Tus apellidos" />
        <div *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched" class="text-danger">
          Por favor, introduce tus apellidos
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="email@example.com" />
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
          Por favor, introduce un e-mail válido
        </div>
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Mensaje</label>
        <textarea class="form-control" id="message" formControlName="message" rows="5" maxlength="999"
          placeholder="Estoy interesad@ en..."></textarea>
        <div *ngIf="form.get('message')?.invalid && form.get('message')?.touched" class="text-danger">
          Por favor, escribe un mensaje
        </div>
        <small class="form-text text-end">{{ form.get('message')?.value?.length || 0 }}/999</small>
      </div>

      <button type="submit" class="btn btn-primary submit" [disabled]="isLoading || form.invalid">Enviar</button>
    </form>
  </div>
</div>

  <div class="location">
    <div class="info-contacto">
      <h5>Dónde encontrarnos</h5>
      <p>C/ Constitución nº20, local izquierda, 03570 <br> La Vila Joiosa, Alicante</p>
      <p>📱(+34) 672 62 12 91</p>
      <a href="mailto:info@fresaikiwifotografia.com">📩info&#64;fresaikiwifotografia.com</a>
    </div>
    <div class="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d390.26204477840867!2d-0.23027608422429072!3d38.50848851283724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd62191ee4c716fd%3A0xc21e2879ce5b91cc!2sFresaikiwi%20Fotografia!5e0!3m2!1ses!2ses!4v1709248393387!5m2!1ses!2ses"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>"
    </div>
  </div>
</div>


<!-- formulario original-->
<!-- <div class="col-12 col-md-6 order-md.2">
<div class="p-3 mt-3">
  <h5 class="mb-3">Formulario de contacto.</h5>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <span class="input-group-text">Nombre</span>
      <input type="text" class="form-control" placeholder="Escribe tu nombre" formControlName="nombre">

    </div>
    <p class="error" *ngIf="checkError('nombre', 'required')">
      El nombre es obligatorio.
    </p>

    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input type="text" class="form-control" placeholder="Introduce un correo electrónico"
        formControlName="email">

      </div>
      <p class="error" *ngIf="checkError('email', 'required')">
        La dirección e-mail es obligatoria.
      </p>
      <p class="error" *ngIf="checkError('email', 'pattern')">
        La dirección e-mail no tiene un formato válido.
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Mensaje</span>
        <textarea type="text" class="form-control" rows="3" placeholder="Escribe aquí tu mensaje"
        formControlName="mensaje"></textarea>

      </div>

      <p class="error" *ngIf="checkError('mensaje', 'required')">
        Tienes que escribir un mensaje.
      </p>
      <input type="submit" value="Enviar" class="btn">

    </form> -->
