<div class="container mt-5">

  <div class="titulos">
    <h3 class="text-center mb-2">¿Tienes alguna duda?</h3>
    <h6 class="text-center mb-3">¡Contácta con nosotros y te ayudaremos lo antes posible!</h6>
  </div>


  <div class="row flex-md-row">

    <!-- formulario -->
    <div class="col-12 col-md-6 order-md.2">
      <div class="p-3 mt-3">
        <h5 class="mb-3">Formulario de contacto.</h5>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" class="form-control" placeholder="Escribe tu nombre" formControlName="nombre">

          </div>
          <p class="error" *ngIf="checkError('nombre', 'required')">
            El nombre es obligatorio.
          </p>
          
          <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" placeholder="Introduce un correo electrónico"
              formControlName="email">

          </div>
          <p class="error" *ngIf="checkError('email', 'required')">
            La dirección e-mail es obligatoria.
          </p>
          <p class="error" *ngIf="checkError('email', 'pattern')">
            La dirección e-mail no tiene un formato válido.
          </p>
          <div class="input-group mb-3">
            <span class="input-group-text">Mensaje</span>
            <textarea type="text" class="form-control" rows="3" placeholder="Escribe aquí tu mensaje"
              formControlName="mensaje"></textarea>

          </div>

          <p class="error" *ngIf="checkError('mensaje', 'required')">
            Tienes que escribir un mensaje.
          </p>
          <input type="submit" value="Enviar" class="btn">

        </form>
      </div>

      <div class="contacto p-3">
        <p>📱(+34) 611 11 22 33</p>
        <p>📩 info@fresaikiwifotografia.com</p>
      </div>
    </div>

    <!-- mapa -->
    <div class="col-12 col-md-6 order-md-1">
      <div class="p-3 mt-3">
        <h5>Dónde encontrarnos.</h5>
        <p>Av. de Benidorm, 1, Edif. Matinal, Local 7, 03570 La Vila Joiosa, Alicante</p>

        <div class="mapa">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d780.5141874383626!2d-0.22865619416759586!3d38.509402042862526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd62191ee4c716fd%3A0xc21e2879ce5b91cc!2sFresaikiwi%20Fotografia!5e0!3m2!1ses!2ses!4v1691015586674!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>

    </div>

  </div>

</div>
