<div class="container">
  <div class="row">
    <h3>FAMILIA</h3>
    <div class="imagen1 col-md-12">
      <img src="../../../../assets/images/FAMILIA/" alt="" />
    </div>
  </div>

  <div class="texto col-md-12">
    <P>
      Las sesiones de familia son perfectas para pasar un rato divertido todos
      juntos. Crearemos momentos divertidos, tiernos e inolvidables para que
      quede vuestra esencia impregnada en cada sesión.
    </P>
  </div>

  <div class="row">
    <div class="imagen2 col-md-12">
      <img src="../../../../assets/images/FAMILIA/" alt="" />
    </div>
    <div class="texto col-md-12">
      <p>
        Tanto en estudio, donde las fotografías serán sencillas, neutras. solo
        estaréis vosotros, nada más. Un precioso recuerdo para poder regalar o
        poner en todos los rincones de casa.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="imagen3 col-md-12">
      <img src="../../../../assets/images/FAMILIA/" alt="" />
    </div>
    <div class="texto col-md-12">
      <p>
        Como en exterior, donde podremos aprovechar los bonitos paisajes que
        tenemos en la zona,disfrutaremos del atardecer entre familia. No hay
        mejor manera.
      </p>
      <p>¡Y haremos foto de los papis, de los peques...de todos!</p>
    </div>
  </div>
</div>
