<div class="container">
  <div class="row">
    <h3>EMBARAZO</h3>
    <div class="texto col-md-12">
      <p>
        Ahora estás llena de vida, estás preparándote para uno de los momentos
        más increíbles e intensos que te depara la vida. Tu cuerpo está creando
        vida y eso se ve reflejado en tu belleza, en el brillo que desprendes y
        cuando te quieras dar cuenta habrá pasado. Y un momento así de especial
        no puede ser menos para ser inmortalizado delante de la cámara.
      </p>
    </div>


    <div class="grid">
      <img
        *ngFor="let image of imagenes; let i = index"
        (click)="gridImgHandler(i)"
        class="grid__img"
        [alt]="image.alt"
        [src]="image.src"
      />
    </div>
    <div class="lightbox" [ngClass]="{ isActive: lightboxActive }">
      <button (click)="lightboxBtnHandler()" class="lightbox__btn">
        <svg
          class="lightbox__svg"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
          />
        </svg>
      </button>
      <img
        [src]="imagenes[imgIndex].src"
        alt="imagen lightbox"
        class="lightbox__img"
      />
    </div>
  </div>

  <div class="row">
    <div class="texto col-md-12">
      <p>
        Cuando tu bebé crezca y vea estas fotos tan llenas de amor no podrá
        estar más feliz de ver que iba dentro de la barriguita de mamá y ya
        estabas llena de felicidad esperándolo.<br>
        Las sesiones de embarazo pueden ser de estudio o exterior, las dos
        tienen su encanto y su estilo diferente, pero con un resultado igual de
        espectacular, ya que la obra de arte vas a ser tú.
      </p>
    </div>


  </div>
  <div class="row">
    <div class="texto col-md-12">
      <p>
        No sabes posar, pero tranquila, voy a estar toda la sesión contigo guiándote y ayudándote
        para que queden unas fotos naturales y tiernas, donde la barriguita y tú
        seréis los protagonistas.<br>

        Entre las semanas 28 y 32 de embarazo será el momento ideal para
        hacernos esta sesión, ahí ya tenéis la barriguita perfecta y no estamos
        cerca del parto.
      </p>
    </div>

    
  </div>
  </div>
