<div class="container">
  <h3>EMBARAZO</h3>
  <div>
    <img src="../../../../assets/images/EMBARAZO/auro.jpg" alt="" />
  </div>
  <p>
    Ahora estás llena de vida, estás preparándote para uno de los momentos más
    increíbles e intensos que te depara la vida. Tu cuerpo está creando vida y
    eso se ve reflejado en tu belleza, en el brillo que desprendes y cuando te
    quieras dar cuenta habrá pasado. Y un momento así de especial no puede ser
    menos para ser inmortalizado delante de la cámara.
  </p>
  <div>
    <img
      src="../../../../assets/images/EMBARAZO/ELENA_EMB-247 copia 2.jpg"
      alt=""
    />
  </div>
  <p>
    Cuando tu bebé crezca y vea estas fotos tan llenas de amor no podrá estar
    más feliz de ver que iba dentro de la barriguita de mamá y ya estabas llena
    de felicidad esperándolo.
  </p>
  <div>
    <img src="../../../../assets/images/EMBARAZO/SONIETES-5.jpg" alt="" />
  </div>
  <p>
    Las sesiones de embarazo pueden ser de estudio o exterior, las dos tienen su
    encanto y su estilo diferente, pero con un resultado igual de espectacular,
    ya que la obra de arte vas a ser tú. No sabes posar, pero tranquila, voy a
    estar toda la sesión contigo guiándote y ayudándote para que queden unas
    fotos naturales y tiernas, donde la barriguita y tú seréis los
    protagonistas.
  </p>
  <div>
    <img src="../../../../assets/images/EMBARAZO/EUGE_EMB-64.jpg" alt="" />
  </div>
  <p>
    Entre las semanas 28 y 32 de embarazo será el momento ideal para hacernos
    esta sesión, ahí ya tenéis la barriguita perfecta y no estamos cerca del
    parto.
  </p>
</div>
