/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');



:root {
    --colorPrincipal: #F7CED2;
    --colorSecundario: #48CAE4;
    --azulClaro: #AED9E0;
    --naranja: #F3722C;
    --naranjaClaro: #F8961E;
    --blanco: #F2F4F3;
    --negroSuave: #333333;
}

body {
    background-color: var(--blanco);
    padding-top: 50px;
}

.fondo {
    min-height: calc(100vh - 56px - 230px);
}
