form {
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

h2 {
    text-align: center;
    background-color: antiquewhite;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    background-color: lightgrey;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s
}

.btn:hover {
    background-color: bisque;
}
