<header class="header">
  <a class="header__a" [routerLink]="['/home']">
    <div class="logo">
      <img src="https://res.cloudinary.com/dscycaajk/image/upload/v1695591497/fresaikiwi/oxh2ee5beops1mt6wje7.png"
        alt="Logo" />
      </div>
    </a>
    <button (click)="setActive()" class="header__button">
      <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>

      <nav class="header__nav" [ngClass]="{ 'header__nav--activo': active }">
        <ul class="header__ul">
          @for (item of menuItems; track item) {
            <li class="header__li">
              <a [routerLink]="item.routes" class="header__li--nav-link">{{ item.title }}</a>
              @if (item.childItems) {
                <ul class="header__li--dropdown-menu">
                  @for (childItem of item.childItems; track childItem) {
                    <li>
                      <a [routerLink]="childItem.routes" class="header__li--dropdown-item">{{ childItem.title }}</a>
                    </li>
                  }
                </ul>
              }
            </li>
          }
        </ul>
      </nav>

      <!-- Carousel -->

      <!-- @if (router.url === '/home') {
        <div class="seccionInicial col-md-12">
          <div class="carousel">
            <img class="elementToFadeInAndOut" [src]="images[imagenSeleccionada].url" [alt]="'slider'" />
          </div>
        </div>
      }
    </header> -->



    <!-- Carousel BOOTSTRAP -->
    @if (router.url === '/home') {
    <div class="carousel slide carousel-fade carousel-container" data-bs-wrap="true" data-bs-ride="carousel"
      data-bs-touch="false">
      <div class="carousel-inner carousel-wrapper">
        <!-- <div class="carousel-item active" *ngFor="let slide of images" data-bs-interval="4500">
              <img [src]="slide.url" [alt]="slide.nombre" class="d-block w-100 slide-image">
            </div> -->
        <div class="carousel-item active" data-bs-interval="4500">
          <img src='https://res.cloudinary.com/dscycaajk/image/upload/v1712527890/txdd0wl8fjegett8criy_iq6mni.avif'
            class="d-block w-100" alt="Comunión">
        </div>
        <div class="carousel-item" data-bs-interval="4500">
          <img
            src="https://res.cloudinary.com/dscycaajk/image/upload/v1712527889/CARLOTA_2ANYS-147-c%C3%B2pia-copia_s5dera.avif"
            class="d-block w-100" alt="Cumpleaños">
        </div>
        <div class="carousel-item" data-bs-interval="4500">
          <img src="https://res.cloudinary.com/dscycaajk/image/upload/v1712527889/ALEJANDRI_9M-43_cratx7.avif"
            class="d-block w-100" alt="Bebés">
        </div>
        <div class="carousel-item" data-bs-interval="4500">
          <img src="https://res.cloudinary.com/dscycaajk/image/upload/v1712527890/fy8a3twdk9rudxffasoh_qd5uqo.avif"
            class="d-block w-100" alt="Embarazo">
        </div>
        <div class="carousel-item" data-bs-interval="4500">
          <img src="https://res.cloudinary.com/dscycaajk/image/upload/v1712527070/EIRE-35-copia_hndnxb.avif"
            class="d-block w-100" alt="Newborn">
        </div>
      </div>
    </div>
    }
    </header>

    <!--
    <li class="nav-item" *ngIf="usuariosService.isLoggedUsuario()">
      <a [routerLink]="['/panelUsuario']" class="nav-link active" data-bs-toggle="collapse"
      data-bs-target=".navbar-collapse.show">Panel Usuario</a>
    </li> -->

    <!-- <li class="nav-item" *ngIf="usuariosService.isLoggedUsuario()" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
    <a class="nav-link active" (click)="onLogout(1)">Logout</a>
  </li> -->

<!-- </ul>-->
