 .navbar {
    /* background-color: rgb(28, 146, 179); */
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}
.logo img{
    height: 100px;
    width: 150px;
    display: flex;
    position:relative;
}

li {
    color: white;
    background-color: black;
}

li:hover {
    background-color: rgb(17, 94, 116);
    border-radius: 10px;
}
