<header class="header">
  <a class="header__a" [routerLink]="['/home']">
    <div class="logo">
      <img src="../../../assets/images/LOGO_WEB.png" alt="Logo" />
    </div>
  </a>
  <button (click)="setActive()" class="header__button">
    <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
  </button>

  <nav class="header__nav" [ngClass]="{ 'header__nav--activo': active }">
    <ul class="header__ul">
      <li *ngFor="let item of menuItems" class="header__li">
        <!-- TODO REVISAR DROPDOWN -->
        <a [routerLink]="item.routes" class="header__li--nav-link">{{
          item.title
          }}</a>
        <ul *ngIf="item.childItems" class="header__li--dropdown-menu">
          <li *ngFor="let childItem of item.childItems">
            <a [routerLink]="childItem.routes" class="header__li--dropdown-item">{{ childItem.title }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="seccionInicial col-md-12">
    <!-- Carousel -->
    <div class="carousel">
      <img
        class="elementToFadeInAndOut"
        [src]="images[imagenSeleccionada].url"
        [alt]="'slider'"
      />
    </div>
  </div>

</header>



<!--
                <li class="nav-item" *ngIf="usuariosService.isLoggedUsuario()">
                  <a [routerLink]="['/panelUsuario']" class="nav-link active" data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show">Panel Usuario</a>
                </li> -->

<!-- <li class="nav-item" *ngIf="usuariosService.isLoggedUsuario()" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              <a class="nav-link active" (click)="onLogout(1)">Logout</a>
            </li> -->

<!-- </ul>-->
