<div class="container" id="containerToScrollTo">
  <div class="row">
    <h3>Capturando mágicos recuerdos</h3>
    <section class="sesiones">
      <article
        *ngFor="let sesion of sesiones"
        (click)="navigateToSesion(sesion.routes)"
        >
        <img class="img-fluid" [src]="sesion.img" alt="{{ sesion.title }}" />
        <div class="section-title">
          <span>{{ sesion.title }}</span>
        </div>
      </article>
    </section>
  </div>
</div>

<!-- (click)="router.navigate([sesion.routes])" -->
