/* Sección SESIONES */

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 48px;
}

/* TODO FALTA COLOCAR BIEN LOS SPAN */
.sesiones1 article img {
    width: 300px;
    border-radius: 100px;
}

.sesiones1 {
    width: 100%;
    height: 20vh;
    border: solid 2px var(--colorPrincipal);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}

.sesiones1 article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.sesiones1 article .section-title {
    max-width: 120px;
    margin-bottom: 15px;
}

.sesiones1 article .section-title span {
    background-color: var(--colorPrincipal);
    color: white;
    padding: 10px;
    border-radius: 10px;
}


.sesiones2 article img {
    width: 300px;
    border-radius: 100px;
}

.sesiones2 {
    width: 100%;
    height: 20vh;
    border: solid 2px var(--colorPrincipal);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    border-top: none;
}

.sesiones2 article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.sesiones2 article .section-title {
    max-width: 120px;
    margin-bottom: 15px;
}

.sesiones2 article .section-title span {
    background-color: var(--colorPrincipal);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
