/* Sección SESIONES */

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 48px;
}
h3 {
  text-align: center;

  margin-bottom: 20px;
}
.container {
  max-width: 1500px;

  margin: 0 auto;

  padding: 20px;
}

.sesiones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 20px;
  border-radius: 20px;
  border: solid 2px var(--colorPrincipal);
  padding: 15px;
}

/* TODO AJUSTAR PADDING Y DECIDIR SI: CON BORDER O SIN  */
.sesiones article {
  text-align: center;
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
  cursor: pointer;
}

.sesiones img {
  width: 100%;
  height: 28vh;
  max-height: 40vh;
  /* max-width: 100%; */
  border-radius: 50%;
  object-fit: cover;
}
.sesiones article .section-title {
  max-width: 120px;
  padding-bottom: 45px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sesiones article .section-title span {
  background-color: var(--colorPrincipal);
  position: absolute;
  color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 968px) {
  h3 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .sesiones article {
    width: 100%;
  }
  .sesiones article .section-title {
    margin-top: 10px;
  }
  /* .sesiones article img {
    max-height: 25vh;
  } */
  /* TODO RETOCAR EN RESPONSIVE PARA QUE NO SE HAGAN HUEVOS */
  .sesiones img {
    height: 36vh;
    max-height: 40vh;
  }
}
