<!-- TODO AÑADIR SECCIONES CON TODAS LAS SESIONES COMO EN LA HOME QUE DIRIGAN A CADA RUTA DE SESION -->

<!-- TODO MODIFICAR FUENTES DE LOS TEXTOS Y DECIDIR SI DEJARLO EN COLUMNA O HACER FILAS CON IMAGENES (EN CADA SESIÓN)-->
<div class="container">
    <div class="row">
      <h3>Capturando mágicos recuerdos</h3>
      <section class="sesiones1">
        <article>
          <div>
            <div>
              <div class="circulo">
                <a [routerLink]="['/sesiones/bebes']"
                  >BEBÉS
                  <img
                    class="img-fluid"
                    src="../../../assets/images/BEBÉS/P1_FILES_EMMA_BATHMILK-5.jpg"
                    alt="cumpleaños"
                  />
                </a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div>
            <div>
              <div class="circulo">
                <a [routerLink]="['/sesiones/newborn']"
                  >NEWBORN
                  <img
                    class="img-fluid"
                    src="../../../assets/images/NEWBORN/SOFÍA_NB-13 copia.jpg"
                    alt="cumpleaños"
                  />
                </a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div>
            <div>
              <div class="circulo">
                <a [routerLink]="['/sesiones/comunion']"
                  >COMUNIÓN
                  <img
                    class="img-fluid"
                    src="../../../assets/images/COMUNIONES/EDURNE_EXTERIORS-135 còpia.jpg"
                    alt="cumpleaños"
                  />
                </a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div>
            <div class="circulo">
              <a [routerLink]="['/sesiones/cumples']"
                >CUMPLEAÑOS
                <img
                  class="img-fluid"
                  src="../../../assets/images/CUMPLE/TRISTAN-209.jpg"
                  alt="cumpleaños"
                />
              </a>
            </div>
          </div>
        </article>
      </section>
    </div>

    <div class="row">
      <section class="sesiones2">
        <article>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/familia']"
                  >FAMILIA
                  <img
                    class="img-fluid"
                    src="../../../assets/images/FAMILIA/"
                    alt="familia"
                  />
                </a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/embarazo']"
                  >EMBARAZO
                  <img
                    class="img-fluid"
                    src="../../../assets/images/EMBARAZO/auro.jpg"
                    alt="embarazo"
                  />
                </a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/navidad']"
                  >NAVIDAD
                  <img
                    class="img-fluid"
                    src="../../../assets/images/NAVIDAD/"
                    alt="navidad"
                  />
                </a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div>
            <div>
              <div class="circulo">
                <a a [routerLink]="['/sesiones/fine-art']"
                  >FINE ART
                  <img
                    class="img-fluid"
                    src="../../../assets/images/FINE ART/AURO+LAIA-26.jpg"
                    alt="fine-art"
                  />
                </a>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
