<div class="container">
  <div class="row">
    <h3>Capturando mágicos recuerdos</h3>
    <section class="sesiones">
      @for (sesion of sesiones; track sesion) {
        <article
          (click)="navigateToSesion(sesion.routes)"
          >
          <img class="img-fluid" [src]="sesion.img" alt="{{ sesion.title }}" />
          <div class="section-title">
            <span>{{ sesion.title }}</span>
          </div>
        </article>
      }
    </section>
  </div>
</div>

<!-- (click)="router.navigate([sesion.routes])" -->
