<div>
    <img src="../../../../assets/images/NEWBORN/SOFÍA_NB-13 copia.jpg" alt="">
</div>
<div>
    <h3>NEWBORN</h3>
    <p>Sin lugar a duda uno de los momentos más felices y bonito que vivirás en tu vida será cuando nazca tu bebé, y con la fotografía de recién nacido ese momento será eterno. No sólo podrás verlo una y otra vez, también podrás recordar esos primeros momentos siempre. Seguro que incluso podrás recordar su olor o esos ruiditos que hacen, además de poder acariciar sus plieguecitos, sus manos y pies, su piel, su pequeña nariz…</p>

<p>Por eso no pierdas la oportunidad de tener el recuerdo más bonito y especial de tu bebé en sus primeros días. Yo me encargaré de que tengas a tu bebé en las mejores manos y con mucho amor, delicadeza y cariño realizaremos su primera sesión de fotos a vuestro bebé.</p>

<p>Estas sesiones las realizo en los primeros 15 días de vida del bebé, y por eso es muy importante que hagáis vuestra reserva durante el embarazo. Puedes echar un vistazo a mis fotografías y entrar a ver nuestras tarifas e información de las sesiones y si te gusta aquí ya puedes hacer tu reserva.
</p>
</div>
<div>
    <img src="../../../../assets/images/NEWBORN/EIRE-35 copia.jpg" alt="">
</div>
